# Functions

In [1]:
def hello():
    print("Hello World")

hello()

Hello World

In [4]:
def square(num):
    return num ** 2

print(square(55))

3025

## recursion

In [12]:
def factorial(n):
    if n > 0:
        return n * factorial(n - 1)
    return 1

print(factorial(15))
print(factorial(5))
print(factorial(1))
print(factorial(0))

1307674368000
120
1
1

## multiple arguments

In [20]:
def multiplier(*args):
    mul = 1
    # args is a tuple
    for i in range(0, len(args)):
        mul *= args[i]

    return mul

print(multiplier(1, 2, 3, 4, 5))
print(multiplier(4, 5))

120
20

In [2]:
def capitalize(word):
    return word[0].upper() + word[1:]


def humanize(str):
    return ' '.join([ capitalize(word) for word in str.split() ]) 

print(humanize('p paul jonathan'))

P Paul Jonathan

## lambdas (functional programming)

In [5]:
product = lambda x, y : x * y

print(type(product))
print(product(5, 6))

<class 'function'>
30

In [8]:
greater = lambda x, y :  x if x > y else y
print(greater(5, 4))

5

In [21]:
print(id("paul"))

140131682129904

## Iterators
These are bulk operations on iterable items ex list, set, tuple

In [22]:
input_list = [2, 3, 5, 7, 11, 13]

### map

In [26]:
square_list = list(map(lambda x : x ** 2, input_list)) # map returns an iterable which needs to be made into a list

print(square_list)

[4, 9, 25, 49, 121, 169]

In [28]:
def cuber(n):
    return n ** 3


cube_list = list(map(cuber, input_list))

print(cube_list)

[8, 27, 125, 343, 1331, 2197]

In [31]:
sl1 = [1, 2, 3, 4, 5]
sl2 = (5, 4, 3, 2, 1)

sums = list(map(lambda x, y : x + y, sl1, sl2))

print(sums)

[6, 6, 6, 6, 6]

### filter

In [33]:
evens = list(filter(lambda x : x % 2 == 0, input_list))

print(evens)

[2]

### reduce

In [ ]:
from