# List

- Delimited by `[]`
- String is like a list of characters

In [6]:
DA_langs = ['python', 'R', 'SAS', 'Scala']

In [7]:
DA_langs.append(42)

DA_langs[-1]

42

In [9]:
DA_langs[2:]

['SAS', 'Scala', 42]

Lists in Python can be interpreted as both stack and queue

- `.append` adds at last
- `.pop` removes from last

`pop` accepts and argument which is index, (default: -1)

`.remove` removes the first occurence of any specific element

to add to the beginning, use `insert(0, <element>)`

In [13]:
arr = [x for x in range(1, 10)]
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
arr.append(10)
arr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
arr.pop()
arr

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
arr.append(1)
print(arr)
arr.remove(1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [18]:
arr

[2, 3, 4, 5, 6, 7, 8, 9, 1]

## Split

In [19]:
mail_str = "Hi, I won't be able to join in for work today, but I am available on call"

print(mail_str.split())
print(mail_str.split(','))

['Hi,', 'I', "won't", 'be', 'able', 'to', 'join', 'in', 'for', 'work', 'today,', 'but', 'I', 'am', 'available', 'on', 'call']
['Hi', " I won't be able to join in for work today", ' but I am available on call']

## Join an array

In [25]:
words = mail_str.split()
' & '.join(words)

"Hi, & I & won't & be & able & to & join & in & for & work & today, & but & I & am & available & on & call"

## List Operations

In [21]:
l1 = [1, 2, 3]
l2 = [1, 3, 5]

print(l1 + l2)

[1, 2, 3, 1, 3, 5]

## Nested lists

In [23]:
nest = [1, [2, [3]], [[4], 5]]
print(nest)

[1, [2, [3]], [[4], 5]]

In [26]:
n = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
n[2][0]

'Python'